@import './partials/autoload';
@import './partials/forms';
@import './partials/modal';

body {
    display            : grid;
    place-items        : center;
    // background-image: url(../../images/DSC_0134.jpg);
    padding            : 0 0 2rem;
}