@import "./partials/autoload";

body {
    display    : grid;
    place-items: center;
    padding    : $pad;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width          : 100%;
    max-width      : 30rem;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 1.5rem;

    &.hide {
        display: none;
    }

    img {
        height: 5rem;
    }

    h3 {
        font-family: monospace;
        font-size  : 1.5rem;
        font-weight: 200;
    }


    div {
        display      : flex;
        background   : none;
        width        : 100%;
        border-radius: .2rem;
        overflow     : hidden;
        border       : 1px solid $primaryColor;

        input {
            border     : none;
            outline    : none;
            width      : 100%;
            background : none;
            padding    : .6rem 1rem;
            color      : $primaryColor;
            caret-color: $secondaryColorAlt;
            font-size  : 1.1rem;
        }

        button {
            @include button;
            width          : fit-content;
            display        : flex;
            gap            : .5rem;
            justify-content: center;
            align-items    : center;
            background     : $primaryColor;
            border         : none;
            color          : $textColor;
            border-left    : 1px solid $primaryColor;
            border-radius  : 0;
            text-transform : uppercase;
            padding-left   : .5rem;
            padding-right  : .5rem;

            &.disabled {
                background: lighten($color: $primaryColor, $amount: 9%);
            }
        }
    }

    .alert {
        font-weight: bolder;
        align-self : start;
        margin-top : -1rem;

        &.success {
            color: $success;
        }

        &.error {
            color: $danger;
        }
    }
}

.after_login {
    display        : none;
    flex-direction : column;
    gap            : 1rem;
    justify-content: center;
    align-items    : center;

    &.show {
        display  : flex;
        animation: slideIn 1s;
    }

    @keyframes slideIn {
        from {
            opacity  : .4;
            transform: translateY(-10%)
        }

        from {
            opacity  : 1;
            transform: translateY(0)
        }
    }

    button {
        @include button;
        width    : 100%;
        font-size: clamp(1rem, 2vw, 1.5rem);

        &:first-of-type {
            color : $success;
            border: 1px solid $success;

            &:hover {
                &::before {
                    width: 0;
                }
            }
        }

        &:last-of-type {
            color : $primaryColor;
            border: 1px solid $primaryColor;

            &:hover {
                color: $textColor;
            }

            &::before {
                background: $primaryColor;
            }
        }
    }
}