@import './partials/autoload';
@import './partials/testmain';

body {
    height            : 100vh;
    display           : grid;
    grid-template-rows: auto 1fr .3fr;
    font-family       : Arial, "Helvetica Neue", Helvetica, sans-serif;

    @include responsiveMedia(md) {
        grid-template-columns: 1fr .5fr;
        grid-template-rows   : auto 1fr;
    }
}

@mixin buttonChange($color) {
    color       : $color;
    border-color: $color;

    &:hover {
        color: $textColor;
    }

    &:before {
        background: $color;
    }
}

main {
    @include main;
}

header {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    font-size      : 1.2rem;
    padding        : $pad;
    background     : $textColor;
    box-shadow     : 0 .2rem .2rem $shadow;

    @include responsiveMedia(md) {
        grid-column: 1 / span 2;
        padding    : $pad 3rem;
    }

    .left {
        display        : flex;
        justify-content: center;
        align-items    : center;
        gap            : .5rem;

        img {
            width: 3rem;
        }
    }
}

footer {
    overflow-y: auto;
    padding   : $pad;
    display   : grid;
    gap       : .5rem;
    grid-template-columns: repeat(auto-fit, minmax(3rem,
                1fr));
    place-items: center;

    @include responsiveMedia(md) {
        position: relative;

        &::before {
            content   : '';
            height    : 60%;
            width     : .1rem;
            background: $primaryColor;
            position  : absolute;
            left      : 0;
        }

        place-content : center;

    }

    button {
        @include button;
        @include buttonChange($danger);
        height   : fit-content;
        font-size: 1rem;

        &.active {
            color       : $primaryColor !important;
            border-color: $primaryColor !important;

            &:hover {
                color: $textColor !important;
            }

            &:before {
                background: $primaryColor !important;
            }
        }

        &.answered {
            color       : $success;
            border-color: $success;

            &:hover {
                color: $textColor;
            }

            &:before {
                background: $success;
            }
        }

    }
}

#confirmModal {
    .modalContent {
        max-width: 25rem;

        .myModal-body {
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
            gap            : clamp(1rem, 5vw, 2rem);

            >div:first-of-type {
                font-size: clamp(3rem, 5vw, 4rem);
                color    : $danger;
            }

            p {
                font-size : clamp(1rem, 5vw, 1.5rem);
                text-align: center;
            }

            .button__container {
                display        : flex;
                gap            : 1rem;
                justify-content: flex-end;
                width          : 100%;

                button {
                    font-size: 1rem;
                    @include button;
                    width: 100%;

                    &.submit {
                        color       : $success;
                        border-color: $success;

                        &::before {
                            background: $success;
                        }

                        &:hover {
                            color: $textColor;
                        }
                    }
                }
            }
        }
    }
}