.modal {
    width: 30%;
    background: $accent;
    // position: fixed;
    position: fixed;
    margin: auto;
    top: 8%;
    left: 35%;
    opacity: 0;
    transform: translateY(-100%);
    transition: 0.3s;
    z-index: 10;
    color: $primaryColor;
    padding: 1.5rem 0 0 0;
    box-shadow: 0 0 1px 1px $primaryColor;
    overflow: auto;
    // height: 75vh;
    // ::-webkit-scrollbar-thumb{
    //     visibility: hidden;
    // }
    @media (max-width: $xlg) {
        width: 60%;
        left: 20%;
    }
    @media (max-width: $lg) {
        width: 50%;
        left: 25%;
    }
    @media (max-width: $md) {
        width: 60%;
        left: 20%;
    }
    @media (max-width: $sm) {
        width: 90%;
        left: 5%;
    }

    > h1 {
        text-align: center;
        font-size: 1.3rem;
        color: $secondaryColor;
        padding-top: 1rem;
    }
    #close {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        padding: 2px 8px;
        color: $primaryColor;
        transition: linear 0.5s;
        font-size: 1.5rem;
        &:hover {
            // padding: 10px;
            color: $danger;
            background-color: $primaryColor;
        }
    }
    &.show {
        opacity: 1;
        transform: translateY(0);
    }
    .details {
        margin: auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        // gap: 1rem;
        align-items: center;
        padding: 0.2rem 0;
        font-size: 12px;
        &:last-of-type{
            display: flex;
        flex-direction: column;
        line-height: 1.5rem;
        .description {
            text-align: justify;
            
        }

        }
    }
    button {
        width: 100%;
        margin-top: calc($pad * 2);
        transition: linear 0.5s;

        &:hover {
            background-color: $primaryColor;
            color: $accent;
        }
    }
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000000b9;
    display: none;
    &.show {
        display: block;
    }
}
