@mixin main {
    overflow-y : auto;
    display    : grid;
    place-items: center;

    form {
        width          : 100%;
        max-height     : 90%;
        max-width      : 30rem;
        display        : flex;
        flex-direction : column;
        justify-content: space-between;
        align-items    : center;
        gap            : .5rem;
        overflow       : hidden;

        .head {
            padding        : calc($pad / 2) $pad;
            display        : flex;
            width          : 100%;
            justify-content: space-between;
            align-items    : center;
            height         : 4rem;

            button {
                @include button;
                padding: .4rem .8rem;

                &.timer {
                    font-size  : 1.2rem;
                    cursor     : default;
                    font-weight: 800;

                    &.timerUp {
                        border-color: $danger;
                        color       : $danger;
                    }

                    &:hover {
                        background: none;
                        color     : $primaryColor;

                        &::before {
                            width: 0;
                        }
                    }
                }

                &.modalToggler {
                    color       : $success;
                    border-color: $success;
                    font-size   : 1rem;
                    font-weight : bold;

                    &::before {
                        background: $success;
                    }

                    &:hover {
                        color: $textColor;

                    }
                }
            }
        }

        .test {
            overflow-y    : auto;
            height        : calc(100% - 4rem);
            padding       : calc($pad / 2) $pad;
            width         : 100%;
            flex-direction: column;
            gap           : 1rem;
            display       : none;

            &.active {
                display  : flex;
                animation: fadeIn 1s;

                @keyframes fadeIn {
                    from {
                        opacity  : .5;
                        transform: translateX(-10%);
                    }

                    to {
                        opacity  : 1;
                        transform: translateY(0);
                    }
                }
            }

            .question {
                display       : flex;
                flex-direction: column;
                gap           : .5rem;

                .title {
                    color      : $primaryColor;
                    font-weight: 100;
                }

                .main_question {
                    font-weight : 200;
                    color       : $secondaryColorAlt;
                    padding-left: 0.5rem;
                }
            }

            .options {
                display       : flex;
                flex-direction: column;
                gap           : .5rem;


                .option {
                    display      : flex;
                    padding      : 0;
                    align-items  : center;
                    cursor       : pointer;
                    gap          : 1rem;
                    border-radius: .2rem;
                    overflow     : hidden;
                    background   : $textColor;
                    color        : $primaryColor;
                    font-size    : 1.2rem;
                    box-shadow   : 0 .4rem .3rem $shadow;
                    @extend %transition;

                    &:hover {
                        box-shadow: none;
                        outline   : 1px double $primaryColor;
                    }

                    &.selected {
                        box-shadow: none;
                        outline   : 2px solid $success;
                    }

                    span:first-of-type {
                        background : $primaryColor;
                        padding    : $pad;
                        color      : $textColor;
                        font-weight: 800;
                        font-size  : 1rem;

                    }
                }
            }
        }
    }
}