$primaryColor   : #012a66;
$secondaryColor : #fec33b;
$textColor      : #fff;
$accent         : #f0f0f0;
$background     : #012a6611;
$pad            : 1rem;
$modalBackground: #00000056;
$shadow         :#00000011;